.nav-menu {
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 150px);
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100vw;
}

@media (min-width: 768px) {
  .nav-menu {
    position: initial;
    width: auto;
  }
}

.nav-menu__header {
  font-size: 28px;
  padding: 8px;
  text-align: inherit;
  text-decoration: inherit;
  text-transform: inherit;
}

.nav-menu-item {
  color: inherit;
  font-size: 24px;
  opacity: 0.7;
  padding: 8px;
  text-align: inherit;
  text-decoration: inherit;
  text-transform: inherit;
}

.nav-menu-item:hover,
.nav-menu-item:focus {
  opacity: 1;
}
