* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  font-family: 'Bitter', serif;
  font-family: 'Aldrich', sans-serif;
  height: 100vh;
  line-height: 1.275;
  padding: 0;
  width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

#root {
  height: 100vh;
  width: 100vw;
}
