$one: #f9abd9;
$two: #4f4465;
$three: #594e63;
$four: #1c161d;
$five: #362e4e;

$mobile: 0;
$tablet: 768px;
$desktop: 1024px;
$xl: 1224px;

$ui-font: 'Aldrich', sans-serif;
$text-font:'Bitter', serif;
